body{
    margin: 0;
    padding: 0;
    background:url(../imagenes/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

 header{
     width: 100%;
     height: 100px;
     display: flex;
     background-color: #3d3d3d;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }
/* Sección izquierda del header */
 header .nav-left-section {
     display: flex;
     justify-content: center;
     width: 100%;
     height: inherit;
     border: 1px solid blueviolet;
 }

 header .nav-left-section ul{
     display: flex;
     height: auto;
     align-items: center;
     justify-content: center;
     border: 1px solid cadetblue;
     list-style: none;
 }

 header .nav-left-section li {
     padding:10px ;
     margin: 0 15px;
 }

 header .nav-left-section ul li a{
     text-decoration: none;
     font-size: 18px;
     color: white;
 }

 header .nav-left-section ul li:hover{
     box-shadow: 0 3px 3px 0;
     background-color: #535c68;
     border-radius: 5px;
 }
 
 header .nav-left-section ul li a:hover{
    font-size: 20px;
}

/*Sección central del header*/

header .logo-center-section {
     margin: 0;
     display: flex;
     justify-content: center;
     width: 100%;
     height: inherit;
     border: 1px solid goldenrod;
}

header .logo-center-section img {
    width: 200px;
}

/*Sección derecha del header*/

header .nav-right-section {
     display: flex;
     justify-content: center;
     width: 100%;
     height: inherit;
     border: 1px solid blueviolet;
}

header .nav-right-section ul {
     padding: 0;
     display: flex;
     height: auto;
     align-items: center;
     justify-content: center;
     border: 1px solid cadetblue;
     list-style: none;
}

header .nav-right-section li {
    padding:10px ;
    margin: 0 15px;
}

header .nav-right-section ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

header .nav-right-section ul li:hover{
    box-shadow: 0 3px 3px 0;
    background-color: #535c68;
    border-radius: 5px;
}

header .nav-right-section ul li a:hover{
   font-size: 20px;
}

header .nav-right-section #redes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid brown;
    margin-left: 30px;
}

header .nav-right-section #redes a {
    margin: 0 10px;
}

header .nav-right-section #redes img {
    width: 45px;
    height: 45px;
}






 


 #principal{
     margin: 0 auto;
     background-color: #222f3e;
     opacity: 20%;
     width: 70%;
     height: 800px;
 }

 #principal:hover{
    opacity: 60%;
}

 .contenedorTitulo{
     margin: 0 auto;
     width: 70%;
     height: 400px;
     
     display: flex;
    justify-content: center;
    align-items: center;
     
 }

 .titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;   
    color: aliceblue;
    text-align: center;
    height: 310px;
    
 }

 .contenedorSub{
     width: 70%;
     height: 300px;
     margin: 0 auto;
 }

 .sub{
     color: white;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .sub span{
     color: goldenrod;
 }


footer{
    margin-top: 70px;
    widows: 100%;
    height: 100px;
    background-color: #3d3d3d;
}

.bottomMenu{
    margin: 0 auto;
    width: 80%;
    height: 50%;
   
}

.bottomContainer{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
}

#bottomOp{
   
    width: 20%;
    text-align:center;
    vertical-align: middle;
    padding-top:15px;
    padding-bottom: 20px;
}

#bottomOp a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    font-size:15px;
    text-decoration: none;
}

#bottomOp:hover{
    background-color:#535c68;
}

.copy{
    margin: 0 auto;
    color:white;
    width: 30%;
    text-align:center;
}